* {
  box-sizing: border-box;
  margin: 0;
  color: #000000;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: bisque;
}

.title {
  margin-top: 200px;
}

.title h1 {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
}

.title p {
  font-size: 12px;
  color: gray;
  text-align: center;
}

.result {
  overflow: hidden;
  position: relative;
  border: solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 10rem;
  gap: 20px;
}

.res_val {
  font-weight: bold;
}

table {
  text-align: center;
  border-spacing: 20px 0;
}

td {
  font-size: 1.5rem;
}

.bbt button {
  border-radius: 8px;
  background: #3b0186;
  color: #F9FAF8;
  padding: 8px;
  font-size: 45px;
  cursor: pointer;
  text-align: center;
  z-index: -1;
  margin-left: 10px;
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  color: #000000;
  font-size: 24px;
}

.footer a {
  text-decoration: none;
  color: #000000;
}